html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    flex: 1;
}

footer {
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    z-index:9999;
}

main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2vh 0;
}

li { 
    list-style: none;
    margin:0;
    padding:0;
}
div.playingCards {
    position: relative;
}
div.card { 
    cursor: pointer; 
}
playing-card {
    margin: 0.25vw;
}
playing-card > img {
    width: 100px;
}

label.dungeon {
    font-size: 39px;
    position: absolute;
    top: -4.0vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.3;
    text-align: right;
    right: 6px;
}
label.dungeon span {
    font-weight: 900;
    font-size: 35px;
    vertical-align: middle;
    margin-bottom: 7px;
}
playing-card#minion {
    margin-left: -60px;
    margin-top: 10px;
}
div#table ul#dungeon {
    margin-top: 0;
}

div#notification {
    text-align: center;
}
div#container {
    display: flex;
    gap: 4px;
}
div#board {
    flex-grow: 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
div#table ul#dungeon playing-card:not(#deck) {
    cursor: pointer;
}

div#tools {
    display: flex;
    flex-flow: column nowrap;
    margin-top: auto;
    align-items: center;
    gap: 2vh;
}
div#tools div#debugger {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    display: flex;
    width: 100%;
}
div#tools div#debugger ul {
    display: flex;
    flex-flow: column nowrap;
}
div#tools > ul {
    display: flex;
    gap: 1vw;
}
div#tools ul li span {
    font-size: 300%;
    font-weight: 700;
    color: #444;
    cursor: pointer;
}

div.ui ul{
    margin-top: 0;
    padding: 0;
    font-size: 44px;
    font-weight: bold;
}

div.ui span.material-symbols-sharp {
    font-size: 34px;
    font-weight: bold;
}

.hidden {
    display: none !important; 
}

/*** FIREWORKS ***/

    @keyframes firework {
        0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
        50% { width: 0.5vmin; opacity: 1; }
        100% { width: var(--finalSize); opacity: 0; }
    }

    .firework,
    .firework::before,
    .firework::after {
        --initialSize: 0.5vmin;
        --finalSize: 45vmin;
        --particleSize: 0.2vmin;
        --color1: yellow;
        --color2: khaki;
        --color3: white;
        --color4: lime;
        --color5: gold;
        --color6: mediumseagreen;
        --y: -30vmin;
        --x: -50%;
        --initialY: 60vmin;
        content: "";
        animation: firework 2s infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, var(--y));
        width: var(--initialSize);
        aspect-ratio: 1;
        background: 
            /*
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
            */
            
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
            radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
            radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
            radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
            
            /* bottom right */
            radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
            radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
            radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
            radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
            radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
            
            /* bottom left */
            radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
            radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
            radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
            radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
            radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
            radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
            
            /* top left */
            radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
            radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
            radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
            radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
            radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
            radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
            
            /* top right */
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
            ;
        background-size: var(--initialSize) var(--initialSize);
        background-repeat: no-repeat;
    }
  
    .firework::before {
        --x: -50%;
        --y: -50%;
        --initialY: -50%;
        /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
        transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
        /*   animation: fireworkPseudo 2s infinite; */
    }

    .firework::after {
        --x: -50%;
        --y: -50%;
        --initialY: -50%;
        /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
        transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
        /*   animation: fireworkPseudo 2s infinite; */
    }

    .firework.two {
        --x: 30vmin;
    }

    .firework.two,
    .firework.two::before,
    .firework.two::after {
        --color1: pink;
        --color2: violet;
        --color3: fuchsia;
        --color4: orchid;
        --color5: plum;
        --color6: lavender;  
        --finalSize: 40vmin;
        left: 30%;
        top: 60%;
        animation-delay: -0.25s;
    }

    .firework.three {
        --x: -30vmin;
        --y: -50vmin;
    }
  
    .firework.three,
    .firework.three::before,
    .firework.three::after {
        --color1: cyan;
        --color2: lightcyan;
        --color3: lightblue;
        --color4: PaleTurquoise;
        --color5: SkyBlue;
        --color6: lavender;
        --finalSize: 35vmin;
        left: 70%;
        top: 60%;
        animation-delay: -0.4s;
    }
  
  