html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    flex: 1;
}

footer {
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2vh 0;
}

li { 
    list-style: none;
    margin:0;
    padding:0;
}
div.playingCards {
    position: relative;
}
div.card { 
    cursor: pointer; 
}
label.dungeon {
    font-size: 39px;
    position: absolute;
    top: -4.0vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.3;
    text-align: right;
    right: 6px;
}
label.dungeon span {
    font-weight: 900;
    font-size: 35px;
    vertical-align: middle;
    margin-bottom: 7px;
}
li#minion {
    margin-left: -60px;
    margin-top: 10px;
}

div#debugger {
    height: 200px;
    overflow-y: scroll;
    margin-top: 10vh;
    border: 1px solid #ccc;
    padding: 0;
    display: flex;
}

div#container {
    display: flex;
    gap: 40px;
}

div.ui ul{
    margin-top: 0;
    padding: 0;
    font-size: 35px;
    font-weight: bold;
}

div.ui span.material-symbols-sharp {
    font-size: 30px;
    font-weight: bold;
}

.hidden {
    display: none !important; 
}

.playingCards .card.shadowless {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.playingCards .card.back.plain {
    background-color: #fff;
    background-image: none;
}
.playingCards .card.back.discard {
    background-image: none;
    -webkit-box-shadow: none;
}
.playingCards .card.back.spacer {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}